body {
    margin: 0;
    padding-top: 800px;
}

.profile {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background:black;
    display: table;
    width: 100%;
    height: 100%;
}



h1 {

    font-size: 40px;
    line-height: 1.2;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 300;
}

#name {
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Dancing Script', cursive;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Architects Daughter', cursive;
}

#bio {

    padding: 50px;
    text-align: center;
    font-size: 42px;
    background:black;
    color:white;
    font-family: 'Shadows Into Light', cursive;
}

.line {
    height: 6px;
    background-color: aqua;
    width: 70px;
    margin: 8px auto;
}


p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}
.menu{
    list-style: none;
    font-family: 'Satisfy', cursive;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
.links{
    float: left;
    color: floralwhite;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}
.links:hover{
    background-color: crimson;
    font-size: 30px;
}
#Videos {

    padding: 50px;
    text-align: center;
    font-size: 42px;
    background:black;
    color:white;
    font-family: 'Shadows Into Light', cursive;
}
#Books {

    padding: 50px;
    text-align: center;
    font-size: 42px;
    background:black;
    color:white;
    font-family: 'Shadows Into Light', cursive;
}
#Contact {

    padding: 50px;
    text-align: center;
    font-size: 42px;
    background:black;
    color:white;
    font-family: 'Shadows Into Light', cursive;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}


#videos iframe
{
    width: 80%;
}

.my_nav_bar
{
    position:sticky;
    top:0;
    z-index:99999
}

input
{
    background: grey;
}